[submodule "src/motion_capture_tracking"]
	path = src/motion_capture_tracking
	url = https://github.com/crcz25/motion_capture_tracking.git
[submodule "src/crazyswarm2"]
	path = src/crazyswarm2
	url = https://github.com/crcz25/crazyswarm2.git
